<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Access Parking Area</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<body style="background: whitesmoke;">
<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2><b>Access Parking Area</b></h2>
        </div>
        <div class="col-sm-6"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12" id="errorMessageAlertContainer"></div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Project</label>
          <select class="form-control" id="project"></select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Building</label>
          <select class="form-control" id="building"></select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Parking Area</label>
          <select class="form-control" id="parkingArea" disabled></select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Identity Card</label>
          <input type="text" class="form-control" id="identityCard">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>License Plate</label>
          <input type="text" class="form-control" id="licensePlate">
        </div>
      </div>
      <div class="col-sm-6">
      </div>
    </div>

    <div class="clearfix">
      <div class="row">
        <div class="col-sm-12 text-right">
          <button type="button" class="btn btn-success" id="submit">Submit</button>
          <button type="button" class="btn btn-warning" id="register">Register</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:src="@{/js/access_parking_area.js}"></script>
</html>
